@font-face {
  font-family: 'bueno';
  src: url('../assets/fonts/bueno/Bueno-Regular.woff2') format('woff2'),
  url('../assets/fonts/bueno/Bueno-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
