@import './tailwind.scss';
@import './base.scss';
@import './showcase.scss';
@import './home.scss';
@import './contact.scss';
@import './preloader.scss';
@import './font.scss';
@import './nav.scss';
@import './transition.scss';
@import './footer.scss';

@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

html {
  overflow-x: hidden;
}
#app {
  font-family: "monoton", serif;
  scroll-behavior: auto;
  height: 100%;
}

main {
  font-family: 'bueno', sans-serif;
  height: 100%;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
  }
}
