.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  .image-grid {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(2, min(33vw, 250px));
    grid-template-rows: repeat(3, min(25dvh, 25vh));
    gap: 0px;
    overflow: hidden;
    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 25vw);
      grid-template-rows: repeat(2, 20vw);
    }
    .image-grid-overflow {
      overflow: hidden;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      will-change: auto;
      transition: transform 0.5s ease, opacity 0.5s ease;


      &:hover {
        transform: scale(1.1);
        opacity: 0.9;
      }
    }
  }
  .showcase-gta {
    position: absolute;
    inset: 0;
    background-color: red;
    z-index: 1;
    opacity: 0;
  }
}





